 <div class="header {% if site.header == 'large' %}header--large{% endif %}">
     <div class="container">
         <h1 class="logo"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
         <nav class="nav-collapse">
             <ul class="noList">
                 {%- for link in site.navigation -%}{%- assign current = nil -%}{%- if page.url contains link.url or forloop.first and page.url == '/' or page.url == 'index.html' -%}{%- assign current = 'current' -%}{%- endif -%}
                 <li class="element {%- if forloop.first -%}first{%- endif -%} {{ current }} {%- if forloop.last -%}last{%- endif -%}">
                     <a href="{{ link.url | relative_url }}">{{ link.title }}</a>
                 </li>
                 {%- endfor -%}
             </ul>
         </nav>
         <a class="kofi-header" href="https://ko-fi.com/I2I2DEDW" target="_blank"><img height="36" style="border:0px;height:36px;" src="https://storage.ko-fi.com/cdn/kofi6.png?v=6" border="0" alt="Buy Me a Coffee at ko-fi.com" /></a>
     </div>
 </div><!-- end .header -->
